{% extends 'blog/layout/base.html' %}
{% block content %}
{% include 'blog/inc/navbars.html' %}
<section class=" py-4 my-5">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 text-center">
        <h4 class="mb-3">{{category}}</h4>
        <hr>
      </div>

      <div class="row ">
        {% for post in current_page_data %}
        <div class="col-md-4 mx-auto col-11 m-1">
          <a href="{% url 'detailedview' category post.title  %}" class="">

            <img src="{{post.image.url}}" class="img-fluid" alt="">
            <h3 class="fw-bold">{{post.title}}</h3>
            <p class="text-muted">{{post.date}}</p>
            <p class="text-muted">posted by {{post.author.username}}</p>
            <div class="my-3 text-dark">
              {{post.content | truncatechars:200|safe }}
            </div>


            read more
          </a>

        </div>

        {% endfor %}
      </div>


      <div class="pagination ">
        <span class="mx-auto d-flex flex-row mt-5 ">
          {% if current_page.has_previous %}
          <li class="page-item">
            <a href="?page=1" class="page-link">&laquo; first</a>
          </li>
          <li class="page-item">
            <a href="?page={{ current_page.previous_page_number }}" class="page-link">previous</a>
          </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link">
              Page {{ current_page.number }} of {{ paginator.num_pages }}.
            </a>
          </li>
          {% if current_page.has_next %}
          <li class="page-item">
            <a href="?page={{ current_page.next_page_number }}" class="page-link">next</a>
          </li>
          <li class="page-item">
            <a href="?page={{ paginator.num_pages }}" class="page-link">last &raquo;</a>
          </li>
          {% endif %}
        </span>
      </div>

    </div>
  </div>


  <div class="container text-center mx-auto">
    <div class="row mt-3 ">
      {% for post in topicarticle %}
      <div class="col-md-3 " style="margin: 0;padding: 0;">
        <a class="page-link" href="{% url 'detailedview' category post.title %}">{{post.title}}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}